{%  extends 'bookstore/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
from .models import Product

{% block content %}

  
  <div class="container">  
      <p>
        <h1 style="text-align:center;color:green;"> 
            GeekText Complete List of Books<br>
        </h1>

        <h3 style="text-align:center;color:green;">
            Click the Book Name for More Details
        </h3>

          
      </p>
      
        <!-- Bootstrap table class -->
        <table id="all" class="display">
            <thead>
                <tr>
                    <th>ID #</th>
                    <th>Book Title</th>
                    <th>Genre</th>
                    <th>Cover Image</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Release Date</th>
                    <th>Add to Cart</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td><a href="{% url 'book_details_with_pk' id=item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.genre }}</td>
                    <td><img src="{% static item.image %}" width="75" height="100"/></td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.release_date }}</td>
                    <td><a href="{% url 'addtocart' item.id %}" class="btn btn-primary btn-sm">Add To Cart</a>
                    </td>  
        
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}
</div>  
  