{%  extends 'bookstore/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
from .models import Product

{% block content %}

  
  <div class="container">  
      <p>
        <h1 style="text-align:center;color:green;"> 
            GeekText Complete List of Books<br>
        </h1>

            <h3 style="text-align:center;color:green;">
            Click the Book Name for More Details
            </h3>
          
      </p>
      
        <!-- Bootstrap table class -->
        <table class="table">  
            <thead>  
                <tr>  
                    <th scope="col">ID #</td>  
                    <th scope="col">Book Title</td>  
                    <th scope="col">Cover Image</td>  
                    <th scope="col">Author</td> 
                </tr>  
            </thead>  
              
            <tbody>  
                {% for item in items %}
                <tr>  
                     
                    <th scope="row">{{ item.id }}</td>   
                    <td><a href="{% url 'book_details' %}">{{ item.name }}</a></td>   
                    <td>{{ item.cover }}</td> 
                    <td>{{ item.author }}</td> 
                    
                    
                    
                </tr>  
                {% endfor %}
            </tbody>  
        </table>  
    </div>  


{% endblock content %}