{%  extends 'bookstore/main.html' %}
{% load static %}


{% block title %} Shopping Cart{% endblock %}


{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col-md-9">
            <h4> Items in Cart </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cover Image</th>
                        <th>Book Name</th>
                        <th>Genre</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Release Date</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for items in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="{% static items.product.image %}" width="75" height="100"/></td>
                        <td><a href="{% url 'book_details_with_pk' id=items.product.id %}">{{items.product.name}}</a></td> 
                        <td>{{items.product.genre}}</td>
                        <td>{{items.product.author}}
                        <td>${{items.rate}}</td>
                        <td>{{items.product.release_date}}
                        <td>{{items.quantity}}</td>
                        <td>${{items.subtotal}}</td>
                        <td>                            
                            <a href="{% url 'changecart' items.id %}?action=inc" class="btn btn-outline-success btn-sm mr-3">Add</button> 
                            <a href="{% url 'changecart' items.id %}?action=dcr" class="btn btn-outline-warning btn-sm mr-3">Decrease</button>
                            <a href="{% url 'changecart' items.id %}?action=rmv" class="btn btn-outline-danger btn-sm mr-4">Remove</button>                            
                            <a href="{% url 'changecart' items.id %}?action=sav" class="btn btn-outline-primary btn-sm">Save for Later</button>
                            
                        </td>

                    </tr> 
                    {% endfor %} 
                    </tr> 
                        <th colspan ="4"> Total </th>
                        <th> ${{cart.total}} </th>
                         
            </table>
            <th> <h6> Items Saved For Later </h6> </th>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Book Name</th>
                        <th>Price</th>
                    </tr>
                    <tbody>
                    {% for items in item  %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'book_details_with_pk' id=items.product.id %}">{{items.product.name}}</a></td> 
                        <td>${{items.rate}}</td>
                    </tr> 
                    {% endfor %} 
                </thead>
                </table>
        </div>
        
    </div>
</div>
{% endblock %}
