{%  extends 'bookstore/main.html' %}
{% load crispy_forms_tags %}


{% block content %}


<h1 style="text-align: center;">Search for a Book</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search by title, author, or genre..." required>
        <button>Search</button>
      </form>
    </div>
  </div>
</div>

  <div style="text-align: center;">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Browse By:</button>
    <div class="dropdown-menu">
        <a class="dropdown-item">Genre</a>
        <a class="dropdown-item">Top Sellers</a>
        <a class="dropdown-item">Book Rating</a>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Sort By:</button>
    <div class="dropdown-menu">
        <a class="dropdown-item">Title</a>
        <a class="dropdown-item">Author</a>
        <a class="dropdown-item">Price</a>
        <a class="dropdown-item">Book Rating</a>
        <a class="dropdown-item">Release Date</a>
    </div>
    </div>
    </div>
  </div>
  
  <div class="container">  
    <p>
      <h2 style="text-align:center;color:green;"> 
          <a href="{% url 'all_books' %}">Click Here For Our Complete List of Books</a><br>
      </h2>
        
    </p>
    
     
  </div> 
  
  {% endblock content %}


